voice-agent_1/voice-agent_1.json
{
  "name": "voice-agent_1",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        96
      ],
      "id": "a9d4c786-8b99-45c0-ab6c-c54957a140c0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "tencent/hy3:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        176,
        320
      ],
      "id": "2265eafa-ec51-4f12-858f-c6a045468df7",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "qQmqmK5rY4m6Zy4M",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "JBFqnCBsd6RMkjVDRZzb",
          "mode": "list",
          "cachedResultName": "George - Warm, Captivating Storyteller"
        },
        "text": "={{ $json.output }}",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        448,
        96
      ],
      "id": "f7d1977f-7808-4998-a73b-b31cf4b69c42",
      "name": "Convert text to speech",
      "credentials": {
        "elevenLabsApi": {
          "id": "RpznQtB4tR4jw5Zh",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ae7291c3-987c-48a7-9d6d-4096f5e767a8",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        96
      ],
      "id": "2e987429-063c-40b1-9f9a-74c4429107f0",
      "name": "Webhook",
      "webhookId": "ae7291c3-987c-48a7-9d6d-4096f5e767a8"
    },
    {
      "parameters": {
        "resource": "speech",
        "operation": "speechToText",
        "file": "audio",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        -128,
        96
      ],
      "id": "e1fd127a-8b72-46b5-a086-aa098b70db5f",
      "name": "Transcribe audio or video",
      "credentials": {
        "elevenLabsApi": {
          "id": "MyzeColkczGY7aaI",
          "name": "ElevenLabs account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        672,
        96
      ],
      "id": "3c35c000-584c-45f5-9165-b4685205565a",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Transcribe audio or video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio or video": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1ba21ed7-881c-4db0-96ab-5b44aba7393d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc7e818a512f7022b5aefe4a16a6d441de19672a3b745741a6c77c25d900b3e2"
  },
  "nodeGroups": [],
  "id": "5Q0Yh3DEQWVRLJtj",
  "tags": []
}